<div class="grid">
    <div class="col-12">
        <div class="card">
            <h2>Clientes registrados</h2>
            <p-table #dt1 [value]="clientes1" dataKey="id" [rows]="10" [loading]="false" [rowHover]="true"
                    styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['NOMBRES','APPATERNO','APMATERNO','DOCIDENTIDAD','CORREO','CELULAR']"
                    responsiveLayout="scroll">
                <ng-template pTemplate="caption">
					<div class="flex justify-content-between flex-column sm:flex-row">
						<button pButton label="Limpiar" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
						<span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Palabra clave" class="w-full"/>
						</span>
					</div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 4rem; background-color: rgb(74, 110, 254);">
                            <div class="flex justify-content-between align-items-center">
								ID
							</div>
                        </th>
                        <th style="min-width: 5rem; background-color: rgb(74, 110, 254);">
                            <div class="flex justify-content-between align-items-center">
								Nombres
							</div>
                        </th>
                        <th style="min-width: 3rem; background-color: rgb(74, 110, 254);">
                            <div class="flex justify-content-between align-items-center">
								Ap. Paterno
                                <p-columnFilter type="text" field="appaterno" display="menu" placeholder="Buscar por apellido paterno"></p-columnFilter>
							</div>
                        </th>
                        <th style="min-width: 3rem; background-color: rgb(74, 110, 254);">
                            <div class="flex justify-content-between align-items-center">
								Ap. Materno
                                <p-columnFilter type="text" field="apmaterno" display="menu" placeholder="Buscar por apellido materno"></p-columnFilter>
							</div>
                        </th>
                        <th style="min-width: 3rem; background-color: rgb(74, 110, 254);">
                            <div class="flex justify-content-between align-items-center">
								Doc. Identidad
							</div>
                        </th>
                        <th style="min-width: 6rem; background-color: rgb(74, 110, 254);">
                            <div class="flex justify-content-between align-items-center">
								Correo
							</div>
                        </th>
                        <th style="min-width: 4rem; background-color: rgb(74, 110, 254);">
                            <div class="flex justify-content-between align-items-center">
								Celular
							</div>
                        </th>
                        <th style="min-width: 4rem; background-color: rgb(74, 110, 254);"></th>
                    </tr>
                    <p-confirmDialog header="Confirmación" key="confirmar" icon="pi pi-exclamation-triangle" message="¿Seguro que desea eliminar?"
                    [style]="{width: '350px'}" acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
                </ng-template>
                <ng-template pTemplate="body" let-cliente>
                    <tr>
                        <td>
                            {{cliente.IDCLIENTE}}
                        </td>
                        <td>
                            {{cliente.NOMBRES}}
                        </td>
                        <td>
                            {{cliente.APPATERNO}}
                        </td>
                        <td>
                            {{cliente.APMATERNO}}
                        </td>
                        <td>
                            {{cliente.DOCIDENTIDAD}}
                        </td>
                        <td>
                            {{cliente.CORREO}}
                        </td>
                        <td>
                            {{cliente.CELULAR}}
                        </td>
                        <td>
                            <button type="button" pButton pRipple icon="pi pi-pencil" style="align-items:center" (click)="op1.toggle($event)" ></button> 
                            <p-overlayPanel #op1 [showCloseIcon]="true" [style]="{width: '1100px'}">
                                <app-actualizarcliente 
                                [idcliente]="cliente.IDCLIENTE" 
                                [nombres]="cliente.NOMBRES" 
                                [appaterno]="cliente.APPATERNO"
                                [apmaterno]="cliente.APMATERNO"
                                [docidentidad]="cliente.DOCIDENTIDAD"
                                [correo]="cliente.CORREO"
                                [celular]="cliente.CELULAR"></app-actualizarcliente>
                            </p-overlayPanel>
                            <button type="button" pButton pRipple icon="pi pi-trash" class="p-element p-ripple p-button-raised p-button-danger p-button p-component" (click)="deSubmit(cliente.IDCLIENTE)"></button>                        
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="8">Cargando los datos de los clientes...</td>
					</tr>
				</ng-template>
            </p-table>
            <hr>
        </div>
    </div>
</div>